<section id="intro" class="intro" data-speed="6" data-type="background">
    <div class="intro-wrapper">
        <div class="profil-image">
        </div>
        <div class="title">
            <span class="slider"></span>
            <h1>SEBASTIAN BOOLEAN</h1>
            <span class="slider"></span>
            <h3 class="subline">Frontend-Developer | Javascript Enthusiast</h3>
        </div>
        <div class="buttons">
            <a href="{{"/" | prepend: site.baseurl}}" class="btn btn-default btn-lg">About</a>
            <a href="{{"/work" | prepend: site.baseurl}}" class="btn btn-default btn-lg">Work</a>
            <a href="{{"/blog" | prepend: site.baseurl}}" class="btn btn-default btn-lg">Blog</a>
            <a href="{{"/contact" | prepend: site.baseurl}}" class="btn btn-default btn-lg">Contact</a>
        </div>
    </div>
</section>
