<h1>
    {{ site.data.projects[page.project].title }}
</h1>
<ul class="technologies">
    {% for technologie in site.data.projects[page.project].technologies %}
    <li>
        {{ technologie }}
    </li>
    {% endfor %}
</ul>
<p>
    {{ site.data.projects[page.project].description }}
</p>

{% if site.data.projects[page.project].demoUrl %}
    <a href="{{site.data.projects[page.project].demoUrl}}" class="btn btn-primary" target="_blank">View Project</a>
{% endif %}
{% if site.data.projects[page.project].githubUrl %}
    <a href="{{site.baseurl}}{{site.data.projects[page.project].githubUrl}}" class="btn btn-warning" target="_blank">Github</a>
{% endif %}

<div class="single-project-gallery row">
    <div class="main-image col-md-9">
        <img src="{{ site.data.projects[page.project].imgUrl }}" class="img-responsive" />
    </div>
    <div class="preview-images col-md-3">
        {% for img in site.data.projects[page.project].imgUrl %}
            <img src="{{ img | prepend: site.baseurl }}" class="img-responsive" />
        {% endfor %}
    </div>

</div>  
