.brand {
    position: fixed;
    left: -300px;
    z-index: 1000;
    padding: 30px;
    transition: all 1s ease-out 0s;

    &.slide-in {
        left: 0;
    }

    a {
        font-size: 1.3em;
        color: white;

        &:hover, &:active, &:visited {
            color: white;
            text-decoration: none;
        }
    }
    .brand-name {
        margin-left: 10px;
    }
}

#intro {
    background: url('../assets/images/intro.jpg') 50% 0 fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 300px;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    display: table;
    text-align: center;
}
.intro-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.intro {
    color: $color-white;
    margin-bottom: 30px;

    h1 {
        display: inline;
        font-size: 3.25em;
        text-transform: uppercase;
        font-weight: bold;
    }

    .subline {
        margin-top: 0;
    }
    .buttons {
        margin-top: 30px;
    }
}
.slider {
    display: inline-block;
    width: 0px;
    border-bottom: 3px solid white;
    height: 3px;
    transition: 0.85s ease;
    transition-delay: 500ms;

}
.sliding-borders {
    display: inline;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
    white-space: nowrap;



    &:hover {
        border-bottom: 3px solid $color-white;
        border-top: 3px solid $color-white;
    }
}
.profil-image {
    background-image: url('../assets/images/profile.jpg');
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
// intro blog
#intro-blog {
    background: url('../assets/images/intro.jpg') 50% 0 fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    display: table;
    text-align: center;
}

footer {
    text-align: center;

    .social-media-list {
        list-style: none;

        li {
            display: inline;
            padding: 0 10px;
        }
    }
}
.blog {
    .post-list {
        list-style: none;
        padding: 0;
    }
    .post-date {
        margin-top: 0;
    }
    .post-headline {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
