<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sections/intro.html %}

    <div class="container page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}" /></script>
    <script type="text/javascript" src="{{ "/js/parallax.js" | prepend: site.baseurl }}"></script>

  </script>
  </body>

</html>
